.Contact {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.5em;

    background-color: rgb(0, 72, 136);
    /* background-image: linear-gradient(
        rgb(0, 112, 209),
        rgb(0, 121, 228),
        rgb(0, 112, 209),
        rgb(0, 54, 102) 95%
    ); */
    height: 40vh;
    color: white;

}

.Contact h1 {
}

.Contact-Links {
    display: flex;
    gap: 2em;
    padding-top: 1em;
    opacity: .5;
    /* border: 2px solid black; */
}

.Github-Icon,
.LinkedIn-Icon {
    height: 50px;
}

#Contact-Email-Icon {
   color: rgb(0, 0, 0);
   font-size: 4.5em;
   transform: translateY(-11px);
   animation: float .5s alternate infinite ease-out;
}

@keyframes float {
    0% {transform: translateY(-11px) scale(1)}
    100% {transform: translateY(-15px)scale(1.01); border-bottom: 8px solid rgb(166, 255, 0)}
}

.Dashes-Yellow {
    color: rgb(255, 205, 41);
}
